
@inject HttpClient Http
@inject NavigationManager NavManager
@inject UserManager<User> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject GoalsClient GoalsClient
@inject IDialogService DialogService
@inject ILocalization Loc

@attribute [Authorize]

<div>
	<EditForm FormName="GoalCreation" Model="NewGoal" OnValidSubmit="CreateGoal">
		<div class="input-group mb-3">
			<label class="input-group-text">@Loc.NameInputLabel</label>
			<InputText class="form-control" @bind-Value="NewGoal.Name" aria-describedby="goalCreateBtn" />
			<button class="btn btn-primary" id="goalCreateBtn">@Loc.BtnCreate</button>
		</div>
	</EditForm>
</div>

<div>
	@* <EditForm FormName="GoalsFilterForm" Model="FilterForm" Enhance>
		<label for="chbInsertActive">Insert Active</label>
		<InputCheckbox @bind-Value="FilterForm.IncludeActive" id="chbInsertActive" />
	</EditForm> *@

	<div class="goals-table">
		<div class="goals-table-header row fw-bold pb-1 align-items-baseline">
			<div class="col-10">@Loc.NameLabel</div>
			<div class="col-2"></div>
		</div>
		<div class="goals-table-body">
			@foreach (var (key, value) in _goalsGroups) {
				@if (value.Count > 0) {
					Contractor? keyValue = key;

					<div class="row goals-table-item item-header align-items-baseline">
						<div class="col-10 fw-bold">@(keyValue?.Name ?? Loc.ContractorNoneName)</div>
						<div class="col-2 d-flex justify-content-end">
							<button class="btn btn-danger" @onclick="() => DeleteContractorGroup(key)" disabled><i class="bi bi-trash3"></i></button>
						</div>
					</div>

					@foreach (var item in value) {
						<ContextMenuTrigger MenuId="GoalContextMenu" Data="@item">
						<div class="row goals-table-item item align-items-baseline">
							<div class="col-8 item-text">@item.Name</div>
							<div class="col-4 d-flex justify-content-end align-bottom">
								<div class="btn-toolbar" role="toolbar">
									<div class="btn-group" role="group">
										<button class="btn btn-secondary" @onclick="() => PushToActive(item)" @onclick:stopPropagation="true"><i class="bi bi-activity"></i></button>
										<button class="btn btn-success" @onclick="() => ActivateGoal(item)" @onclick:stopPropagation="true"><i class="bi bi-play-fill"></i></button>
									</div>
								</div>
							</div>
						</div>
						</ContextMenuTrigger>
					}
				}
			}
		</div>
	</div>
</div>


@code {
	private string _userId = "";
	private List<GoalVM> _goals = new();
	private Dictionary<Value<Contractor, int>, List<GoalVM>> _goalsGroups = new();

	[SupplyParameterFromForm]
	private GoalsFilterForm FilterForm { get; set; } = new();

	[SupplyParameterFromForm]
	private NameFormModel NewGoal { get; set; } = new();

	protected override async Task OnInitializedAsync() {
		var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		_userId = UserManager.GetUserId(state.User) ?? "";

		await LoadGoals();

		GoalsClient.OnGoalCreated += OnGoalCreated;
		GoalsClient.OnGoalHeaderEdited += OnGoalHeaderEdited;
		GoalsClient.OnGoalDeleted += OnGoalDeleted;
		
		GoalsClient.OnGoalActivated += OnGoalActivated;
		GoalsClient.OnActiveGoalHeaderEdited += OnActiveGoalHeaderEdited;
		GoalsClient.OnActiveGoalDeleted += OnActiveGoalDeleted;
		
		GoalsClient.OnJobsBuilded += OnJobsBuilded;

		await GoalsClient.Start();
	}

	#region UI Handlers

	private async Task LoadGoals() {
		var url = NavManager.GetUriWithQueryParameters(NavManager.ToAbsoluteUri("api/goals").AbsoluteUri, new Dictionary<string, object?> {
				{ "userId",  _userId },
				{ "includeActive", FilterForm.IncludeActive },
			});

		var response = await Http.GetFromJsonAsync<List<GoalData>>(url);
		SetGoalsQuery(response);
	}

	private void SetGoalsQuery(List<GoalData>? data) {
		if (data is null) {
			_goals.Clear();
			_goalsGroups.Clear();
			return;
		}
		_goals = data.Select(x=> new GoalVM(x)).ToList();
		var groups = _goals.GroupBy(x => new Value<Contractor, int>(x.Contractor));
		_goalsGroups = groups.ToDictionary(x => x.Key, x => x.ToList());
	}

	private async Task CreateGoal(EditContext editContext) {
		if (_userId.NullOrEmpty()) return;
		GoalCreationData request = new(NewGoal.Name, _userId, null);

		var url = NavManager.ToAbsoluteUri("api/goals/save").AbsoluteUri;

		var response = await Http.PostAsJsonAsync(url, request);
	}

	private Task DeleteContractorGroup(Value<Contractor, int> groupKey) {
		// if (_goalsGroups.Remove(groupKey, out var list)) {
		// 	_goals.RemoveAll(x => list.Contains(x));
		// }
		return Task.CompletedTask;
	}

	private async Task ActivateGoal(GoalVM item) {
		TimerActivationData request = new(item.Id, item.ActiveGoalId, DateTimeOffset.Now, _userId);

		var url = NavManager.ToAbsoluteUri("api/goals/start").AbsoluteUri;

		var response = await Http.PostAsJsonAsync(url, request);
	}

	private async Task PushToActive(GoalVM item) {
		GoalPushToActiveData request = new(item.Id, _userId, DateTimeOffset.Now);

		var url = NavManager.ToAbsoluteUri("api/goals/activate").AbsoluteUri;

		var response = await Http.PostAsJsonAsync(url, request);
	}

	#endregion

	#region Subscriptions

	private async Task OnGoalCreated(int goalId, string userId, GoalData data) {
		GoalVM? goal = _goals.Find(x => x.Id == goalId);
		if (goal is not null) return;
		goal = new(data);
		_goals.Insert(0, goal);
		Value<Contractor, int> contractor = new(data.Contractor);
		List<GoalVM>? goals;
		if (!_goalsGroups.TryGetValue(contractor, out goals)) {
			_goalsGroups.Add(contractor, goals ??= new());
		}
		goals.Insert(0, goal);

		await InvokeAsync(StateHasChanged);
	}

	private async Task OnGoalHeaderEdited(int goalId, string userId, GoalHeaderData data) {
		GoalVM? goal = _goals.Find(x => x.Id == goalId);
		if (goal is null) return;

		var previousContractor = goal.Contractor;
		var currentContractor = data.Contractor;

		goal.Set(data);

		if (previousContractor?.Id != currentContractor?.Id) {
			if (_goalsGroups.TryGetValue(new(previousContractor), out var previousGroup)) {
				previousGroup.Remove(goal);
			}
			if (_goalsGroups.TryGetValue(new(currentContractor), out var currentGroup)) {
				currentGroup.Add(goal);
			}
			else {
				_goalsGroups.TryAdd(new(currentContractor), new() { goal });
			}
		}

		await InvokeAsync(StateHasChanged);
	}

	private async Task OnGoalDeleted(int goalId, string userId) {
		GoalVM? goal = _goals.Find(x => x.Id == goalId);
		if (goal is null) return;

		_goals.Remove(goal);
		Value<Contractor, int> contractor = new(goal.Contractor);
		if (_goalsGroups.TryGetValue(contractor, out var goals)) {
			goals.Remove(goal);
			if (goals.Count == 0) _goalsGroups.Remove(contractor);
		}

		await InvokeAsync(StateHasChanged);
	}


	private async Task OnGoalActivated(int goalId, int activeGoalId, string userId, ActiveGoalData data) {
		if (!FilterForm.IncludeActive) return;
		GoalVM? goal = _goals.Find(x => x.Id == goalId);
		if (goal is null) return;
		goal.SetActiveData(data);

		await InvokeAsync(StateHasChanged);
	}

	private async Task OnActiveGoalHeaderEdited(int goalId, string userId, ActiveGoalHeaderData data) {
		GoalVM? goal = _goals.Find(x => x.ActiveGoalId == goalId);
		if (goal is null) return;

		var previousContractor = goal.Contractor;
		var currentContractor = data.Contractor;

		goal.Set(data);

		if (previousContractor?.Id != currentContractor?.Id) {
			if (_goalsGroups.TryGetValue(new(previousContractor), out var previousGroup)) {
				previousGroup.Remove(goal);
			}
			if (_goalsGroups.TryGetValue(new(currentContractor), out var currentGroup)) {
				currentGroup.Add(goal);
			}
			else {
				_goalsGroups.TryAdd(new(currentContractor), new() { goal });
			}
		}

		await InvokeAsync(StateHasChanged);
	}

	private async Task OnActiveGoalDeleted(int goalId, string userId) {
		GoalVM? goal = _goals.Find(x => x.Id == goalId);
		if (goal is null) return;

		goal.ActiveGoalId = null;

		await InvokeAsync(StateHasChanged);
	}


	private async Task OnJobsBuilded(string userId) {
		if (_userId != userId) return;

		await LoadGoals();

		await InvokeAsync(StateHasChanged);
	}

	#endregion

	class GoalsFilterForm {
		public bool IncludeActive { get; set; }
	}
}
