@page "/Error"
@using System.Diagnostics
@inject ILocalization Loc

<PageTitle>@Loc.ErrorPageTitle</PageTitle>

<h1 class="text-danger">@Loc.ErrorPageTitle.</h1>
<h2 class="text-danger">@Loc.ErrorPageSubHeader</h2>

@if (ShowRequestId)
{
    <p>
        <strong>@Loc.ErrorPageLabelRequestId:</strong> <code>@RequestId</code>
    </p>
}

@((MarkupString)Loc.ErrorPageMessage)

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
