@page "/contractors"

@inject HttpClient Http
@inject NavigationManager NavManager
@inject ILocalization Loc

@implements IAsyncDisposable

<PageTitle>@Loc.ContractorsPageTitle</PageTitle>

<h3>@Loc.ContractorsPageTitle</h3>

<div class="w-25">
	<EditForm FormName="ContractorCreateForm" Model="ContractorCreateModel" OnValidSubmit="CreateContractor">
		<div class="input-group mb-3">
			<label class="input-group-text">@Loc.NameInputLabel</label>
			<InputText class="form-control" @bind-Value="ContractorCreateModel.Name" aria-describedby="contractorCreateBtn" />
			<button class="btn btn-primary" id="contractorCreateBtn">@Loc.BtnAdd</button>
		</div>
	</EditForm>
</div>

<div class="d-flex flex-wrap">
	@foreach (var item in _contractors) {
		<FluentCard Class="m-2" MinimalStyle Width="fit-content" Height="fit-content">
			<div class="d-flex gap-2 align-items-baseline">
				@if (!item.IsOnEdit) {
					<FluentLabel @onclick="() => item.IsOnEdit = true">@item.Name</FluentLabel>
				}
				@if (item.IsOnEdit) {
					<div>
						<EditForm FormName="ContractorEditForm" Model="item" OnValidSubmit="() => Save(item)">
							<FluentLabel>@Loc.NameInputLabel</FluentLabel>
							<InputText @bind-Value="item.Name"/>
						</EditForm>
					</div>
				}
				<button class="btn btn-danger" @onclick="() => Delete(item)"><i class="bi bi-trash3"></i></button>
			</div>
		</FluentCard>
	}
</div>

@code {
	private ContractorsClient? ContractorsClient { get; set; }
	private List<ContractorVM> _contractors = new();
	private NameFormModel ContractorCreateModel { get; set; } = new();

	protected override async Task OnInitializedAsync() {
		var uri = NavManager.ToAbsoluteUri("api/contractors").AbsoluteUri;
		var response = await Http.GetFromJsonAsync<List<Contractor>>(uri);
		_contractors = (response ?? new()).Select(x => new ContractorVM(x)).ToList();

		ContractorsClient = new(NavManager);

		ContractorsClient.OnContractorCreated += OnContractorCreated;
		ContractorsClient.OnContractorEdited += OnContractorEdited;
		ContractorsClient.OnContractorDeleted += OnContractorDeleted;

		await ContractorsClient.Start();
	}

	#region UI Handlers

	private async Task CreateContractor() {
		var uri = NavManager.ToAbsoluteUri("api/contractors").AbsoluteUri;
		var response = await Http.PostAsJsonAsync(uri, new ContractorCreateRequest(ContractorCreateModel.Name, DateTimeOffset.Now));
	}

	private async Task Save(ContractorVM contractor) {
		var uri = NavManager.ToAbsoluteUri("api/contractors").AbsoluteUri;
		var response = await Http.PutAsJsonAsync(uri, new ContractorEditRequest(contractor.Id, contractor.Name, DateTimeOffset.Now));
		if(!response.IsSuccessStatusCode) return;
		var data = await response.Content.ReadFromJsonAsync<Contractor>();
		if (data is null) return;

		contractor.Name = data.Name;
		contractor.IsOnEdit = false;
	}

	private async Task Delete(ContractorVM contractor) {
		var uri = NavManager.ToAbsoluteUri($"api/contractors/{contractor.Id}").AbsoluteUri;
		var response = await Http.DeleteAsync(uri);
	}

	#endregion

	#region Subscriptions

	private async Task OnContractorCreated(int id, string name) {
		if(_contractors.Find(x => x.Id == id) is not null) return;
		_contractors.Add(new()
			{
				Id = id,
				Name = name
			});
		await InvokeAsync(StateHasChanged);
	}

	private async Task OnContractorEdited(int id, string name) {
		if (_contractors.Find(x => x.Id == id) is not { IsOnEdit: false } contractor) return;

		contractor.Name = name;

		await InvokeAsync(StateHasChanged);
	}

	private async Task OnContractorDeleted(int id) {
		if (_contractors.Find(x => x.Id == id) is not { } contractor) return;

		_contractors.Remove(contractor);

		await InvokeAsync(StateHasChanged);
	}

	#endregion

	public async ValueTask DisposeAsync() {
		if (ContractorsClient is not null) await ContractorsClient.DisposeAsync();
	}

	class ContractorVM() {
		public int Id { get; set; }
		public string Name { get; set; } = string.Empty;
		public bool IsOnEdit { get; set; }

		public ContractorVM(Contractor data) : this() {
			Id = data.Id;
			Name = data.Name;
		}
	}
}
