@page "/jobs"

@inject HttpClient Http
@inject NavigationManager NavManager
@inject UserManager<User> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ILocalization Loc
@inject JobsClient JobsClient

@attribute [Authorize]

<PageTitle>@Loc.JobsPageTitle</PageTitle>

<div>
	<div class="row sticky-top w-50 justify-content-start">
		<EditForm FormName="JobsFilter" Model="@FilterForm">

			<FluentDatePicker Value="@FilterForm.Start" ValueChanged="OnFilterValueStartChanged" />
			<span class="col-auto"></span>
			<FluentDatePicker Value="@FilterForm.End" ValueChanged="OnFilterValueEndChanged" />
		</EditForm>
	</div>

	<FluentSplitter Orientation="Orientation.Horizontal" Class="h-100" BarSize="6" Panel1MinSize="30%" Panel2MinSize="20%" Collapsed="@(Selected is null)">

		<Panel1>
			<div class="mt-2 me-3" style="height: 88dvh; overflow-y: auto;">
				@foreach (var group in JobHeaders.GroupBy(x => x.Date).OrderByDescending(x => x.Key)) {
					<div class="card mb-3">
						<div class="card-header">
							<div class="row">
								<span class="col-9 fw-bold">@group.Key.ToString("D")</span>
								<span class="col-auto fw-bold">@group.Select(x => x.ElapsedTime).Aggregate((cum, t) => cum + t).ToString(UserSettings.TimeFormatterValue())</span>
							</div>
						</div>
						<div class="card-body">
							@foreach (var contractorGroup in group.GroupBy(x => new Value<Contractor, int>(x.Contractor))) {
								<div>
									<h3 class="col-auto mb-2 mt-1">@(contractorGroup.Key.StoredValue?.Name ?? Loc.ContractorNoneName)</h3>

									@foreach (var item in contractorGroup) {
										<div class="me-2 @(item == Selected ? "bg-primary bg-opacity-25" : "bg-dark bg-opacity-10") p-2 rounded-2 m-1" @onclick="() => Select(item)">
											<div class="row align-items-baseline">
												<div class="col-auto row-cols-2">
													<FluentButton Class="col me-1" IconStart="@(item.Saved ? new Icons.Filled.Size24.Database() : new Icons.Regular.Size24.Database())" OnClick="() => SwitchStatusSaved(item)" />

													@if (item.Comment is { Length: > 0 }) {
														<i class="col bi bi-pencil text-center"></i>
													}
												</div>

												<h5 class="col-7 fs-4">@item.Name</h5>
												<span class="col-1">@item.ElapsedTime.ToString(UserSettings.TimeFormatterValue())</span>
												<span class="col-md-auto"><span>@item.Start.ToString(UserSettings.DateTimeFormatterValue())</span> - <span>@item.End.ToString(UserSettings.DateTimeFormatterValue())</span></span>
											</div>
										</div>
									}
								</div>
							}
						</div>
					</div>
				}
			</div>
		</Panel1>

		<Panel2>
			<div class="m-2" style="height: 88dvh; overflow-y: auto;">
				<FluentCard>
					<div class="mb-2 align-content-end">
						@if (Selected?.Comment is { Length: > 0 })
						{
							<CopyToClipboard TextToCopy="@Selected.Comment" />
						}
						<FluentButton IconStart="@(new Icons.Regular.Size24.Dismiss())" OnClick="() => {Selected = null;}"></FluentButton>
					</div>

					<h4>@Selected?.Name</h4>

					<FluentTabs ActiveTabId="tab-1">
						<FluentTab Id="tab-1">
							<Header>
								Comment
							</Header>
							<Content>
								@if (Selected?.Comment is { Length: > 0 }) {
									<div class="mt-2 bg-white p-2" style="height:78dvh;overflow-y:auto;">
										<p>@((MarkupString) @Selected.Comment.Replace("\n", "<br/>"))</p>
									</div>
								}
							</Content>
						</FluentTab>

						<FluentTab Id="tab-2">
							<Header>
								Changes
							</Header>
							<Content>
								<div class="mt-2 bg-white p-2" style="height:78dvh;overflow-y:auto;">

									@if (Selected?.Changes is { Count: > 0 }) {
										@foreach (var change in Selected.Changes) {
											<div class="card mb-3">
												<div class="card-header">
													<div class="row">
														<div class="col-auto">
															<FluentButton IconStart="@(change.Saved ? new Icons.Filled.Size24.Database() : new Icons.Regular.Size24.Database())" />
														</div>
														<span class="col-1">@change.ElapsedTime.ToString(UserSettings.TimeFormatterValue())</span>
														<span class="col-md-auto"><span>@change.Start.ToString(UserSettings.DateTimeFormatterValue())</span> - <span>@change.End.ToString(UserSettings.DateTimeFormatterValue())</span></span>
													</div>
												</div>
												<div class="card-body">
													<div>
														@if (change.Comment is { Length: > 0 }) {
															<div class="mt-2 bg-white p-2">
																<p>@((MarkupString) @change.Comment.Replace("\n", "<br/>"))</p>
															</div>
														}
													</div>
												</div>
											</div>
										}
									}
								</div>
							</Content>
						</FluentTab>
					</FluentTabs>
				</FluentCard>
			</div>
		</Panel2>

	</FluentSplitter>
</div>

@code {
	private string _userId = "";
	private List<JobHeaderData> JobHeaders { get; set; } = [];
	private JobHeaderData? Selected { get; set; }
	public UserSettings? UserSettings { get; set; }

	[SupplyParameterFromForm]
	private JobsFilterForm FilterForm { get; set; } = JobsFilterForm.Create();

	protected override async Task OnInitializedAsync() {
		var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		_userId = UserManager.GetUserId(state.User) ?? "";

		await LoadJobs();

		JobsClient.OnJobsBuilded += OnJobsBuilded;
		JobsClient.OnJobStatusSavedEdited += OnJobStatusSavedEdited;

		await JobsClient.Start();
	}

	private async Task LoadJobs() {
		var url = NavManager.JobsApiUri();

		var response = await Http.PostAsJsonAsync(url, new JobsListData(_userId, DateOnly.FromDateTime(FilterForm.Start), DateOnly.FromDateTime(FilterForm.End)));
		if (response.IsSuccessStatusCode) {
			JobHeaders = (await response.Content.ReadFromJsonAsync<List<JobHeaderData>>()) ?? [];
		}
	}

	private void Select(JobHeaderData item) {
		if (item.Comment is not { Length: > 0 }) {
			return;
		}
		Selected = item;
	}

	private async Task SwitchStatusSaved(JobHeaderData item) {
		JobSavedChangedData requestSavedChanged = new(item.Id, _userId, !item.Saved);

		var url = NavManager.ToAbsoluteUri("api/jobs/update-status/saved").AbsoluteUri;

		await Http.PostAsJsonAsync(url, requestSavedChanged);
	}

	private async Task OnFilterValueStartChanged(DateTime? date) {
		FilterForm.Start = date.HasValue ? date.Value : DateTime.MinValue;
		await LoadJobs();
	}

	private async Task OnFilterValueEndChanged(DateTime? date) {
		FilterForm.End = date.HasValue ? date.Value : DateTime.MinValue;
		await LoadJobs();
	}

	// private async Task CreateGoal(EditContext editContext) {
	// 	if (_userId.NullOrEmpty()) return;
	// 	GoalCreationData request = new(NewGoal.Name, _userId);

	// 	var url = NavManager.ToAbsoluteUri("api/goals/save").AbsoluteUri;

	// 	var response = await Http.PostAsJsonAsync(url, request);
	// }

	private async Task OnJobsBuilded(string userId) {
		if (userId != _userId) return;
		await LoadJobs();

		await InvokeAsync(StateHasChanged);
	}

	private async Task OnJobStatusSavedEdited(int jobId, string userId, bool status, int[] updatedChanges) {
		if (JobHeaders.Find(x => x.Id == jobId) is not { } job) return;

		job.Saved = status;
		job.Changes.Where(x => updatedChanges.Contains(x.Id)).Change(x => x.Saved = status);

		await InvokeAsync(StateHasChanged);
	}

	class JobsFilterForm {
		public DateTime Start { get; set; }
		public DateTime End { get; set; }

		public static JobsFilterForm Create() {
			var today = DateTime.Now;

			JobsFilterForm form = new() {
					Start = today.AddDays(-7).Date,
					End = today.Date.AddDays(1)
				};
			return form;
		}
	}

	class JobDaySection {
		public DateOnly Date { get; set; }
		public List<JobHeaderData> Jobs { get; set; } = [];
		public Dictionary<Value<int, Contractor>, List<JobHeaderData>> Groups { get; set; } = [];
		public JobHeaderData? Selected { get; set; }
	}
}
