@page "/Admin/Goals/{Id:int}"

@inject NavigationManager NavManager
@inject HttpClient Http
@inject UserManager<User> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<EditForm FormName="AdminGoalEditForm" Model="this">
	<DataAnnotationsValidator />
	<FluentValidationSummary />

	<FluentStack Orientation="Orientation.Vertical">
		<input @bind-value="@Id" hidden />

		<div>
			<FluentTextField Name="Name" @bind-Value="Name" Label="Name" Style="width: 40rem" Required />
		</div>
			<div class="mb-3">
				<label>
					Contractor
				<InputSelect class="form-select" @bind-Value="Contractor" DisplayName="Contractor">
					<option value="0">Empty</option>
					@foreach (var item in _contractors) {
						<option value="@item.Id">@item.Name</option>
					}
				</InputSelect>
				</label>
			</div>

		<div class="mb-3">
			<label>
				User
				<InputSelect class="form-select" @bind-Value="User" DisplayName="User">
					<option value="0">Empty</option>
					@foreach (var item in _users) {
						<option value="@item.Id">@item.Name</option>
					}
				</InputSelect>
			</label>
		</div>
	</FluentStack>
</EditForm>

<FluentStack>
	<FluentButton OnClick="Save">Save</FluentButton>
	@if(ActiveGoalId is not null) {
		<FluentAnchor Href="@($"/Admin/ActiveGoals/{ActiveGoalId}")">Active</FluentAnchor>
	}
</FluentStack>

@code {
	private List<Contractor> _contractors = [];
	private List<UserSelectListData> _users = [];
	private string _userId = "";


	[Parameter]
	public int Id { get; set; }

	public string? Name { get; set; }
	public int? Contractor { get; set; }
	public string? User { get; set; }
	public int? ActiveGoalId { get; set; }

	protected override async Task OnInitializedAsync() {
		var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		_userId = UserManager.GetUserId(state.User) ?? "";


		var uri = NavManager.ToAbsoluteUri("api/contractors").AbsoluteUri;
		_contractors = await Http.GetFromJsonAsync<List<Contractor>>(uri) ?? new();

		uri = NavManager.ToAbsoluteUri("api/users").AbsoluteUri;
		_users = await Http.GetFromJsonAsync<List<UserSelectListData>>(uri) ?? new();
	}

	protected override async Task OnParametersSetAsync() {
		if (Id == 0) return;
		var url = NavManager.ToAbsoluteUri($"api/goals/{Id}").AbsoluteUri;

		var entity = await Http.GetFromJsonAsync<GoalDetailsData>(url);
		if (entity is null) return;
		Name = entity.Name;
		Contractor = entity.Contractor?.Id;
		User = entity.User?.Id;
		ActiveGoalId = entity.ActiveGoalId;
		StateHasChanged();
	}

	private async Task Save() {
		if (Name is null) return;

		object request;
		string uri;

		if(Id == 0) {
			request = new GoalCreationData(Name, _userId, Contractor);

			uri = "api/goals/save";
		}
		else {
			if (User is null) return;
			int? contractorId = Contractor; 
			request = new GoalHeaderChangesSaveData(Id, User, Name, contractorId);

			uri = "api/goals/save/header";
		}

		var url = NavManager.ToAbsoluteUri(uri).AbsoluteUri;

		var response = await Http.PostAsJsonAsync(url, request);

		if (response.IsSuccessStatusCode) NavManager.NavigateTo("/Admin/Goals");
	}
}
